<!DOCTYPE html>
<html lang="en">
  <div class="footer">
    <meta charset="utf-8">
    <ul>
      <li>Nicholas R. Holterman   ✦   Department of Romance Languages and Literatures   ✦   University of Michigan   ✦   Ann Arbor, MI</li>
      <li><a href="mailto:nrholt@umich.edu"></li>
        <img src="/images/emailicon.png" alt="email"></a>
      <li><a href="https://twitter.com/NRHolterman"></li>
        <img src="/images/twittericon.png" alt="twitter"></a>
      <li><a href="https://umich.academia.edu/NicholasHolterman"></li>
        <img src="/images/academia.png" alt="academia"></a>
      <li><a href="https://www.linkedin.com/in/nrholterman/"></li>
        <img src="/images/linkedinicon.png" alt="linkedin"></a>
    </ul>
    
    </div>

  </footer>
