@charset "UTF-8";
nav ul {
  font-family: 'Noto-serif', serif;
  font-size: 24px;
  list-style: none;
  margin: 10px;
  display: block;
  text-align: center;
}

nav li {
  display: inline;
  margin-right: 15px;
  margin-left: 15px;

}
nav a {
  text-decoration: none;
  color:
}

nav {
  margin: 0 auto;
}

.nav-container {
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: .5em;
  border-left: dotted 1px;
  border-right: dotted 1px;
  border-bottom: dotted 1px;
}

.wrapper {
  margin: 0 auto;
  padding: 5em;
  width: 50em;
  font-size: 20px;
}
.nav {
  width: 90em;
  margin: 0 auto;
}

.CV ul{
  font-family: 'Noto-serif', serif;
  font-size: 18px;
  list-style: none;
  margin: 50px;
  display: block;
}

.CV li{
list-style: none;
margin-right: 50px;
margin-left: 50px:
}

.CV{
  margin: 0 auto;
}

.heading {
  font-family: 'IM Fell English SC', serif;;
  font-size: 70px;
  text-decoration: overline;
  text-decoration-style: double;
}

.heading {
  color: #84baa4;
  font-style: bold;
  margin: 0;
  text-align: center;
  background-color: #334147;
  padding: .75em;

}
.subheading {
  font-family: 'IM Fell English SC', serif;;
  font-size: 20px;
  text-decoration: underline;
  color: #EEEEEE;
}

.footer {
    position: sticky;
    padding: 0;
    background-color: none;
    text-align: center;
    margin: 0 auto;
}

.footer ul{
  font-family: 'Noto-serif', serif;
  font-size: 18px;
  font-style: none;
  list-style: none;
  margin: 1px;
  display: block;
}

.footer li {
  display: inline;
  margin: 1em;
}

img {
  float: right;
  width: 35%;
  margin: 20px;

}
