@charset "UTF-8";
nav ul {
  font-family: 'Noto-serif', serif;
  font-size: 28px;
  list-style: none;
  margin: 10px;
  display: block;
  text-align: center;

}

nav li {
  display: inline;
  margin-right: 15px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #91505c;
}

.nav-container {
  margin-top: 2em;
  margin-bottom: 5em;
  background-color: none;
  padding: 0em;
  position: static;
  line-height: 0em;
}

.wrapper {
  margin: 0 auto;
  padding: 1em;
  padding-top: 2em;
  max-width: 40em;
  font-size: 20px;
}

.CV ul{
  font-family: 'Noto-serif', serif;
  font-size: 18px;
  list-style: none;
  margin: 50px;
  display: block;
}

.CV li{
list-style: none;
margin-right: 50px;
margin-left: 50px;
}

.CV{
  margin: 0 auto;
}

.heading {
  font-family: 'IM Fell English SC', serif;
  font-size: 75px;
  color: #f4e0ad;
  text-shadow: 1px 1px 2px black;
  font-style: none;
  margin: 0;
  text-align: right;
  background-color: #FFFFFF;
  padding: 1.7em;
  background-image: url("/images/Feast.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: .06em solid #91505c;
}

.heading h5 {
  margin:0;
  font-size: 30px;
  color: #f4e0ad;
}

.heading h6 {
  margin:0;
}

.footer {
    position: sticky;
    padding: 0;
    background-color: none;
    text-align: center;
    margin-top: 2em;
    border-bottom: none;
}

.footer ul{
  font-family: 'Noto-serif', serif;
  font-size: 18px;
  font-style: none;
  list-style: none;
  margin: 1px;
  display: block;
}

.footer li {
  display: inline;
  margin: 1em;
}

.cv.container {
  margin: 0 auto;
  padding: 5em;
  font-size: 24px;
  position: absolute;
  text-align: center;
}

.aboutimage img {
  width: 45%;
  margin: 0 auto;
  position: relative;
  float: right;
}

.center-text {
  text-align: center;

}
