@charset "UTF-8";
nav ul {
  font-family: 'Noto-serif', serif;
  font-size: 24px;
  list-style: none;
  margin: 10px;
  display: block;
  text-align: center;

}

nav li {
  display: inline;
  margin-right: 15px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #212121;
}

nav {
  margin: 0 auto;
}

.nav-container {
  margin-top: 0;
  margin: 0 auto;
  background-color: none;
  padding: 0em;
  position: static;
  line-height: 0em;
}

.wrapper {
  margin: 0 auto;
  padding: 5em;
  width: 40em;
  font-size: 20px;
}
.nav {
  width: 90em;
  margin: 0 auto;
}
.CV ul{
  font-family: 'Noto-serif', serif;
  font-size: 18px;
  list-style: none;
  margin: 50px;
  display: block;
}

.CV li{
list-style: none;
margin-right: 50px;
margin-left: 50px;
}

.CV{
  margin: 0 auto;
}

.heading {
  font-family: 'IM Fell English SC', serif;
  font-size: 70px;
  text-decoration: none;
  color: #212121;
  font-style: none;
}

.heading {
  margin: 0;
  text-align: center;
  background-color: #FFFFFF;
  padding: 0em;
}

.heading img {
    width:100%;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    margin-top: 0;
    margin-bottom: 0;
    opacity: .2;
    border-bottom: 2px solid #212121;
}


.overlay {
  position: absolute;
  top: 1.5em;
  left:0;
  width:100%;
  height:30%;
  color: #212121;
}

.footer {
    position: sticky;
    padding: 0;
    background-color: none;
    text-align: center;
    margin: 0 auto;
    border-bottom: double;
}

.footer ul{
  font-family: 'Noto-serif', serif;
  font-size: 18px;
  font-style: none;
  list-style: none;
  margin: 1px;
  display: block;
}

.footer li {
  display: inline;
  margin: 1em;
}

.cv.container {
  margin: 0 auto;
  padding: 5em;
  font-size: 24px;
  position: absolute;
  text-align: center;
}

.aboutimage img {
  width: 45%;
  margin: 0 auto;
  position: relative;
  float: right;
}
